@font-face {
	font-family: "myfont";
	src: url("main.ttf")
}

body {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	background-color: #eceff1;
}

.clockbox {
	width: 100%;
	height: 88px;
	display: grid;
	text-align: center;
}

.clock {
	font-size: 48px;
	font-weight: normal;
}

.channelbox {
	width: 80%;
	height: auto;
	margin-left: 15%;
}

.channel {
	width: 240px;
	height: 240px;
	border: solid 6px #b3b3b3;
	margin-top: 5px;
	margin-left: 5px;
	display: inline-grid;
	border-radius: 15px;
}

.logo {
	width: 240px;
	height: 240px;
	border-radius: 10px;
}

.channel:hover {
	border: solid  6px #07cdf7;
}